.btn.btn-outline-success {
    background-color: #00adb5;
    color: #ffffff;
    border-style: solid;
    border-color: #00adb5;
  }

  .btn.btn-outline-success:hover {
    background-color: #007c82;
    color: #ffffff;
    border-style: solid;
    border-color: #007c82;
  }

/* .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited{
    background-color: #007c82 !important;
} */

.album.py-5.bg-light {
    background-color: #fff9f3 !important;
  }
  
.navbar.navbar-expand-lg.bg-light {
    background-color: #fff9f3 !important;
    
  }



  




  


  /* Menu  */
  #logo{
    width: 250px;
  }
  
  #log {
    margin-left: 15px;
    margin-right: 15px;
    border-style: none;
    background-color: #fff9f3;
    width: 35px;
  }

  #log:hover {
    border-radius: 60%;
    background-color: #007c82;
    
  }


  /* Libro*/
  .flex-shrink-0.p-3.bg-white {
    text-align: left;
    background-color: #fff9f3 !important;
  }
  
.col-4.col-md-3 {
    background-color: #fff9f3;
  }
  
.row.g-0.text-center {
    background-color: #fff9f3
    
  }

  /* Inicio  */
  /* .container, .contenedor{
    background-color: #fff9f3 !important
    
} */
div.col {
    margin-bottom: 15px;
  }

  /* Footer */
  .d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4 {
    margin-top: 0px !important;
    
  }

.col-md-4.mb-0.text-muted {
    color: #000000 !important
    
  }

.nav-link.px-2.text-muted {
    color: #000000 !important;
  }

    
.footer{
    background-color: #00adb5;
    max-height: 300px;
    margin-top: auto;
    /* position: absolute;
    
    bottom: 0;
    width: 100%; */
}



/* Login */

    body {
        background-color: #fff9f3 !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    background-color: #00adb5;


    border: 2px solid #000;
    border-left: 15px solid #000;
    border-bottom: 15px solid #000;
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 15px;
  }
  
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .btn-info{
    background-color: #fff9f3;
    border: 1px solid #0000;
  }

  .btn-info:hover{
    background-color: #007c82;
    border: 1px solid #0000;
    color: #fff9f3;
  }









/* FORMULARIO INICIO */
  
  .card {
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-header {
    background-color: #00adb5 !important;
    color: #fff !important;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }
  
  .form-control {
    border-radius: 5px;
    border-color: #007c82 !important;
  }
  
  .form-check-input:checked {
    background-color: #007c82 !important;
  }
  
  .form-check-label {
    color: #007c82 !important;
  }
  
  .btn-primary {
    background-color: #00adb5 !important;
    border-color: #00adb5 !important;
  }
  
  .btn-primary:hover {
    background-color: #007c82 !important;
    border-color: #007c82 !important;
  }
  
  .btn-link {
    color: #007c82 !important;
  }
  
  .invalid-feedback {
    color: #dc3545 !important;
  }
  
  .col-form-label {
    color: #007c82 !important;
    font-weight: bold;
  }






    /* FOTOS */
    /* CSS */
  .avatar {
    position: relative;
    
  }

  .avatar label {
    display: inline-block;
    cursor: pointer;
  }

  .avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* .avatar input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  } */


  .boton-rojo {
    text-decoration: none;
    background:none;
    border:none;
    padding:0;
    margin:0;
    font-weight: 700;

}

  .link {
    color:#00adb5;
    font-weight: 500;
    font-size: small;

  }
  .link:hover {
    color:#007c82;

  }



.texto_campos_panelControl{
  font-weight: 700;
}


.img_index{
  border-radius: 30px; 
  max-width: 300px;
  height: 400px;
}

 

  

.dropdown-menu-custom {
  width: 330px;
}
.dropdown-menu-custom .col-6:first-child {
  border-right: 1px solid #ccc; /* Agregar una línea vertical */
  
}






.dropdown-item-white:focus {
  background-color: #ccc !important;
  /* color: #000 !important; */
}


.portada_libro_ficha{
  max-width: 100%;
  height: auto;
  /* object-fit: cover; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.card-img-top {
  width: 100% ;
  height:auto;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-text{
  color:#00adb5;
  font-weight: bolder;
}

.breadcrumb-item a{
  color: #00adb5;
 
}





.link_autor{
  color:#00adb5 ;
}

.link_autor:hover{
  color:#007c82 ;
}




.valoraciones_txt_libro{
  font-size: small;
  color: grey;
}



